
img{
    width:300px;
    border-radius: 30px;
    float: left;
}
p{
    text-align: center;
    color: blue;
}
.intro{
    margin: 200px;
}
/* use on education only */
table, 
th, 
td{
text-align: left;
width: 500px;
border: 1px solid #000;

}
nav{
    padding: 1px;
    border-radius: 10px;
    background-color: lightgoldenrodyellow;
}
.me{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.me li{
list-style: none;
}
#hobbies{
    width: 200px;
    
}

a{
    margin-left: 10px;
}
body{
    background-image: url("paper.jpeg");
}


